:root {
  --color:#fff;
  --colorInfo:rgba(255, 255, 255, 0.8);
  --backgroundHeader:rgba(23, 25, 29, 0.7);
  --backgrounBody:#111317;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: 0;
}

a {
  text-decoration: none;
  color: var(--color);
}

body {
  background-color: var(--backgrounBody);
  color: var(--color);
}

.container {
  max-width: 1600px;
  padding: 0 120px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 60px !important;
  }
}
@media only screen and (max-width: 840px) {
  .container {
    padding: 0 40px !important;
  }
}
@media only screen and (max-width: 500px) {
  .container {
    padding: 0 30px !important;
  }
}
@media only screen and (max-width: 400px) {
  .container {
    padding: 0 20px !important;
  }
}
.lighted {
  --color:#000;
  --colorInfo: rgba(0, 0, 0, 0.8);
  --backgroundHeader: rgba(23, 25, 29, 0.1);
  --backgrounBody:#FFF;
}

.activ_darcmode {
  background: #5454D4;
  color: #fff;
}

.sundark {
  border: 0;
  background-color: #fff;
}

.mobile-darc {
  display: none;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 100;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  top: 0;
  background-color: #1E1E1E;
  opacity: 0.89;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 18px 20px;
  background-color: #17191D;
  color: var(--color);
}
.modal-header .logo {
  width: 89px;
  font-family: "Banana Brick";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
}

.modal-body {
  padding: 40px 120px 96px 20px;
}
.modal-body .nav__list {
  flex-direction: column;
  gap: 40px;
}
.modal-body .nav--item {
  color: #fff;
  width: 203px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

.phone-btn--mobile {
  margin-top: 262px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: var(--backgroundHeader);
  color: var(--color);
}

/* Add Animation */
@keyframes slideIn {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.d-flex {
  display: flex;
  justify-content: center;
}

header {
  background: var(--backgroundHeader);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 17px 0 19px 0;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  gap: 15px;
}
.nav__list .nav--item {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.logo {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 50px;
  margin-right: 10px;
}

.header_qoshimcha {
  display: flex;
  align-items: center;
}

.header--phone {
  margin: 0 41px 0 42px;
}
.header--phone span {
  display: block;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
.header--phone span:nth-child(1) {
  font-size: 20px;
  line-height: 24px;
}

button {
  background: #6911AD;
  border-radius: 7px;
  color: #fff;
  padding: 12px 21px 14px 21px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.darcmode {
  padding: 2px;
  display: flex;
  gap: 6px;
  background: transparent;
  border: 1px solid #AAAAAA;
  border-radius: 40px;
}

.header_qoshimcha span {
  padding: 6px;
  border-radius: 40px;
  padding: 6.74px 8px;
}
.header_qoshimcha span:nth-child(2) {
  padding: 6.74px 6.64px 6.76px 7.75px;
}

.mobile-icon--span {
  width: 18px;
  height: 3px;
  background: var(--color);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  border-radius: 20px;
}
.mobile-icon--span:nth-child(2) {
  width: 24px;
}
.mobile-icon--span:nth-child(3) {
  width: 14px;
  position: relative;
  left: 10px;
}

.logo-mobile {
  font-family: "Banana Brick";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  width: 89px;
  height: 39px;
}

.d-none {
  display: none;
}

.mobile-icon {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header--phone {
    display: none;
  }
  .darcmode {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 950px) {
  nav {
    display: none;
  }
  .mobile-icon {
    display: block;
  }
}
@media only screen and (max-width: 840px) {
  .zakas-btn {
    display: none;
  }
  .darcmode {
    margin-right: 0;
  }
}
@media only screen and (max-width: 400px) {
  .darcmode {
    display: none !important;
  }
  .mobile-darc {
    display: block;
  }
}
main {
  z-index: 10000;
  overflow: hidden;
  padding-top: 139px;
  padding-bottom: 120px;
}

.gradiyent img {
  width: 1237.6px;
  position: absolute;
  left: 0.32px;
  top: 45px;
  filter: blur(75px);
  transform: rotate(15.64deg);
  z-index: -1;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.hero__text {
  margin-right: 165px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero--header {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  max-width: 695px;
  width: 100%;
}

.hero--paragraph {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 549px;
  width: 100%;
}

.hero--circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 10;
}

.btn-hero {
  margin-top: 20px;
  position: relative;
}

.image-elips {
  position: absolute;
  width: 514.82px;
  height: 657.4px;
  right: 0;
  top: -465px;
  background: linear-gradient(105.05deg, #267DFF 1.69%, #ED0080 48.42%, #00FFE0 85.83%);
  opacity: 0.4;
  filter: blur(100px);
  transform: rotate(-154.36deg);
}

.midel {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #6911AD;
  position: relative;
  overflow: hidden;
}
.midel:hover {
  transition: width 0.3s ease;
  width: 140px;
}

.midel-text {
  position: relative;
  left: 39px;
  color: #fff;
  top: 32px;
  cursor: pointer;
}

.md-2 {
  z-index: -1;
  color: #6911AD;
  position: absolute;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 120px;
}
.info .info-left {
  max-width: 570px;
}
.info .info-left .info-name {
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  color: var(--color) !important;
}
.info .info-left .info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
  color: var(--colorInfo) !important;
}
.info .info-left .info-text:last-child {
  margin-top: 30px;
}
.info .info-right {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.info .info-right .info-right__card {
  margin: 20px 0;
}
.info .info-right .info-right__card .info-card__name {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  color: blue;
}
.info .info-right .info-right__card .info-card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: var(--color) !important;
}

@media only screen and (max-width: 1250px) {
  .info {
    padding: 10px 50px;
  }
}
@media only screen and (max-width: 676px) {
  .info {
    padding: 10px 20px;
  }
  .info-right {
    margin-top: 58px;
  }
}
@media only screen and (max-width: 576px) {
  .info-left .info-name {
    font-size: 24px !important;
    line-height: 31px !important;
  }
  .info-left .info-text {
    font-size: 16px !important;
    line-height: 110% !important;
  }
  .info-left .info-text:last-child {
    margin-top: 20px !important;
  }
  .info-right {
    margin-top: 38px;
  }
  .info-right .info-right__card .info-card__name {
    font-size: 36px !important;
    line-height: 100% !important;
  }
  .info-right .info-right__card .info-card__text {
    font-size: 16px !important;
    line-height: 21px !important;
  }
}
.afzallik-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}

.afzallik-col {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.afzallik-col .afzallik-card {
  max-width: 433px;
  padding: 25px;
  background: rgba(17, 19, 23, 0.5);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 20px;
}
.afzallik-col .afzallik-card .afzallik-card__name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 35px;
}
.afzallik-col .afzallik-card .afzallik-line {
  margin: 10px 0 15px 0;
  background: #686464;
  border-radius: 20px;
  width: 50px;
  height: 3px;
}
.afzallik-col .afzallik-card .afzallik-card__text {
  font-size: 16px;
  line-height: 22px;
}
.afzallik-col .afzallik-card:hover {
  box-shadow: 5px 4px 14px rgba(255, 255, 255, 0.55);
}
.afzallik-col .afzallik-card__light {
  background: rgba(243, 243, 243, 0.5);
  border: 1px solid #999999 !important;
}
.afzallik-col .afzallik-card__light:hover {
  background: rgba(243, 243, 243, 0.5);
  box-shadow: 5px 4px 14px rgba(0, 0, 0, 0.55);
}

@media only screen and (max-width: 768px) {
  .afzallik-col {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 678px) {
  .afzallik {
    padding: 10px 20px;
  }
}
@media only screen and (max-width: 576px) {
  .afzallik-name {
    font-size: 24px;
    line-height: 29px;
  }
  .afzallik-col {
    grid-template-columns: 1fr;
  }
  .afzallik-col .afzallik-card {
    max-width: 360px;
    margin: auto;
  }
  .afzallik-col .afzallik-card .afzallik-card__name {
    font-size: 20px;
    line-height: 24px;
  }
  .afzallik-col .afzallik-card .afzallik-card__text {
    font-size: 16px;
    line-height: 22px;
  }
}/*# sourceMappingURL=index.css.map */