.afzallik-name {
      font-weight: 700;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
}

.afzallik-col {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      row-gap: 30px;

      .afzallik-card {
            max-width: 433px;
            padding: 25px;
            background: rgba(17, 19, 23, 0.5);
            border: 1px solid #4E4E4E;
            backdrop-filter: blur(2.5px);
            border-radius: 20px;

            .afzallik-card__name {
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 29px;
                  margin-top: 35px;
            }

            .afzallik-line {
                  margin: 10px 0 15px 0;
                  background: #686464;
                  border-radius: 20px;
                  width: 50px;
                  height: 3px;
            }

            .afzallik-card__text {
                  font-size: 16px;
                  line-height: 22px;
            }
      }

      .afzallik-card:hover {
            box-shadow: 5px 4px 14px rgba(255, 255, 255, 0.55);
      }

      .afzallik-card__light {
            background: rgba(243, 243, 243, 0.5);
            border: 1px solid #999999 !important;
      }

      .afzallik-card__light:hover {
            background: rgba(243, 243, 243, 0.5);
            box-shadow: 5px 4px 14px rgba(0, 0, 0, 0.55);
      }
}

@media only screen and (max-width: 768px) {
      .afzallik-col {
            grid-template-columns: 1fr 1fr;
      }
}
@media only screen and (max-width: 678px) {
      .afzallik{
            padding: 10px 20px;
            border: 1px solid #fff;
      }
      .afzallik-col{
            margin-top: 20px;
      }
      .afzallik-box{
            margin-top: 20px;
            max-height: 600px;
            overflow-y: auto;

      }
}

@media only screen and (max-width: 576px) {
      .afzallik-name {
            font-size: 24px;
            line-height: 29px;
      }

      .afzallik-col {
            grid-template-columns: 1fr;

            .afzallik-card {
                  max-width: 360px;
                  margin: auto;
                  .afzallik-card__name {
                        font-size: 20px;
                        line-height: 24px;
                  }

                  .afzallik-card__text {
                        font-size: 16px;
                        line-height: 22px;
                  }
            }
      }

}