.lighted{
    --color:#000;
    --backgroundHeader: rgba(23, 25, 29, 0.1);
    --backgrounBody:#FFF;
}
.activ_darcmode {
    background: #5454D4;
    color: #fff;
}
.sundark{
    border: 0;
    background-color: #fff;
}