.info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 120px;

      .info-left {
            max-width: 570px;

            .info-name {
                  font-weight: 600;
                  font-size: 50px;
                  line-height: 64px;
                  color: var(--color) !important;
            }

            .info-text {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 140%;
                  margin-top: 20px;
<<<<<<< HEAD
                  color: rgba(0, 0, 0, 0.8);
            }
            .info-text__night{
                  color: var(--color);
=======
                  color:var(--colorInfo) !important;
>>>>>>> a7ee67bd37d1b2dbae8e1f8d3ff2dd71b3a474cc
            }

            .info-text:last-child {
                  margin-top: 30px;
            }
      }

      .info-right {
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            column-gap: 80px;

            .info-right__card {
                  margin: 20px 0;

                  .info-card__name {
                        font-weight: 600;
                        font-size: 50px;
                        line-height: 100%;
                        color: blue;
                  }

                  .info-card__text {
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 26px;
                        text-align: center;
                        color: var(--color) !important;
                  }
            }
      }
}

@media only screen and (max-width: 1250px) {
      .info {
            padding: 10px 50px;
      }
}

@media only screen and (max-width: 676px) {
      .info {
            padding: 10px 20px;
      }

      .info-right {
            margin-top: 58px;
      }
}

@media only screen and (max-width: 576px) {
      .info-left {
            .info-name {
                  font-size: 24px !important;
                  line-height: 31px !important;
            }

            .info-text {
                  font-size: 16px !important;
                  line-height: 110% !important;
            }

            .info-text:last-child {
                  margin-top: 20px !important;
            }
      }

      .info-right {
            margin-top: 38px;

            .info-right__card {
                  .info-card__name {
                        font-size: 36px !important;
                        line-height: 100% !important;
                  }

                  .info-card__text {
                        font-size: 16px !important;
                        line-height: 21px !important;
                  }
            }
      }
}